.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;

    &Login{
        width: 30%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px;
        border-radius: 20px;
        background-color: #121B1D;
        z-index: 1;
        position: relative;

        &Close {
            font-size: 30px;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            color: white;
        }

        h1{
            text-align: center;
            font-size: 28px;
            color: white;
            font-weight: 700;
            height: 10%;
        }

        &Way {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &Account {
                &Soc {
                    width: 100%;
                    padding: 10px 10px;
                    margin: 8px 0;
                    display: inline-block;
                    box-sizing: border-box;
                    background-color: white;
                    border-radius: 25px;
                    cursor: pointer;
                    text-align: center;
                }
            }

            p {
                color: #5A5959;
                text-align: center;
            }

            &Data {
                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 16px 8px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-radius: 20px;
                    outline: none;
                    background-color: #19282F;
                    border: none;
                    color: white;
                }

                &Options {
                    a {
                        color: #40b844;
                        cursor: pointer;
                        display: block;
                        margin-top: 15px;      
                        text-align: center;      
                    }
                }
            }
        }

        button {
            width: 70%;
            align-self: center;
            height: 8%;
            font-size: 18px;
            border-style: none;
            background-color: #40b844;
            color: white;
            border-radius: 25px;
        }
    }
}

